.header__lang-link{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 117%;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
    padding-right: 48px;
}
.header__lang-link:first-child{
    padding-right: 18px;
    text-decoration-line: underline;
}