.place__text{
    width: 100%
}

@media screen and (max-width: 1024px){
    .place__text{
        margin-left: 38px;
    }
}
@media screen and (max-width: 768px){
    .place__text{
        margin: 0 38px 0 16px;
    }
}
@media screen and (max-width: 450px){
    .place__text{
        margin-left: 38px;
    }
}