.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    max-height: 200px;
}
@media screen and (max-width: 1024px){
    .lead__title{
        max-width: 720px;
        font-size: 96px;
        line-height: 104%;
    }
}
@media screen and (max-width: 768px){
    .lead__title{
        max-width: 720px;
        font-size: 96px;
        line-height: 104%;
    }
}
@media screen and (max-width: 450px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 110%;
    }
}