.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 112%;
}
@media screen and (max-width: 450px) {
    .footer__links{
        flex-direction: column;
        margin: 0;
    }
}