.cover {
    margin: 92px auto 0;
    background-image: url(../../images/cover-trains.jpg);
    max-width: 1184px;
    background-repeat: no-repeat;
    background-size: cover;

}
@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0 92px;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0 88px;
    }
}
@media screen and (max-width: 450px) {
    .cover{
        margin: 66px 0 64px;
    }
}